@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import './Constants.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $black;
  font-family: "Jost", sans-serif;
  color: $white;
  scroll-behavior: smooth;
  position: relative;
}

button{
  font-family: "Jost", sans-serif;
  color: $white;
  cursor: pointer;
}

input{
  border: none;
  outline: none;
  background-color: transparent;
  color: $white;
}

input[type="datetime-local"] {
  -webkit-appearance: none; 
  -moz-appearance: textfield; 
  appearance: none; 
}

select{
  background-color: transparent; 
  border: none;   
  outline: none;
  color: $white;
  appearance: none; // убираем стили браузера
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:focus{
  border-bottom: 1px solid #FAFAFA;
}

option{
  background-color: transparent;
  color: #101014;
}

.title{
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;

  @include xl2{
    font-size: 20px;
    line-height: 26px;
  }
  @include md{
    font-size: 28px;
    line-height: 50px;
  }
}

.container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-4 {
  width: 33.3%;
  // padding: 0 15px;
}

.col-6 {
  width: 50%;
  // padding: 0 15px;
}

.col-3 {
  width: 25%;
  // padding: 0 15px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .col-6 {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}