.main__header{
    position: absolute;
    z-index: 1;
    width: 90%;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    justify-content: space-between;
    align-items: center;

    &__logo{
        width: 228px;
        height: 46px;
        color: black;

        h3{
            font-family: "Orbitron", sans-serif;
            color: #FFFFFF;
            font-weight: 600;
            font-size: 36px;

            sup{
                font-size: 24px;
            }
        }
    }

    &__links{
        gap: 56px;
        padding: 14px 26px;
        border-radius: 86px;
        font-size: 20px;
        font-weight: 400;
        background: linear-gradient(90deg, #00000033 70%, #00000066 100%);
        backdrop-filter: blur(40px);


        li{
            cursor: pointer;
        }
    }
    
    &__language{
        padding: 16.5px 26px;
        background: #00000066;
        border-radius: 26px;
        gap: 6px;
        position: relative;

        svg{
            transition: all .3s;
            margin-left: 6px;
        }

        .dropdown {
            z-index: -1;
            margin-top: 17px;
            overflow: hidden;
            position: absolute;
            background: #00000066;
            width: 100%;
            top: -17px;
            left: 0;
            border-radius: 26px;
            text-align: center;
            
            img{
                margin: 65px 26px 15px 26px;
            }

        }

        img{
            width: 30px;
            height: 20px;
        }
    }

    &__contacts{
        align-items: center;
        gap: 16px;
        background-color: #3467FE;
        padding: 12px 40px;
        border-radius: 16px;
        border: none;
    }
}